@* Pages/Shared/_MenuLateral.cshtml *@
<div id="menuLateral" class="menu-lateral oculto">
    <ul class="main-menu">
        <li class="menu-item">
            <a href="#" onclick="toggleSubmenu(event)">
                <img src="~/Icons/Menu/book.png" alt="Book" />
                Libros
            </a>
            <ul class="submenu">
                <li><a asp-page="/Libros/Index">Libros</a></li>
                <li><a asp-page="/Autores/Index">Autores</a></li>
                <li><a asp-page="/Editoriales/Index">Editorial</a></li>
                <li><a asp-page="/Ubicaciones/Index">Ubicaciones</a></li>
            </ul>
        </li>
        <li class="menu-item">
            <a href="#" onclick="toggleSubmenu(event)">
                <img src="~/Icons/Menu/loan.png" alt="Loan" />
                Préstamos
            </a>
            <ul class="submenu">
                <li><a asp-page="/Prestamo/Index">Prestamo</a></li>
            </ul>
        </li>
        <li class="menu-item">
            <a href="#" onclick="toggleSubmenu(event)">
                <img src="~/Icons/Menu/return.png" alt="Return" />
                Devoluciones
            </a>
            <ul class="submenu">
                <li><a href="#">Ejemplo</a></li>
                <li><a href="#">Ejemplo</a></li>
            </ul>
        </li>
        <li class="menu-item">
            <a href="#" onclick="toggleSubmenu(event)">
                <img src="~/Icons/Menu/penalty.png" alt="Penalty" />
                Penalizaciones
            </a>
            <ul class="submenu">
                <li><a href="#">Ejemplo</a></li>
                <li><a href="#">Ejemplo</a></li>
            </ul>
        </li>
        <li class="menu-item">
            <a href="#" onclick="toggleSubmenu(event)">
                <img src="~/Icons/Menu/Client.png" alt="Client" />
                Clientes
            </a>
            <ul class="submenu">
                <li><a asp-page="/Clientes/Index">Clientes</a></li>
            </ul>
        </li>
        <li class="menu-item">
            <a href="#" onclick="toggleSubmenu(event)">
                <img src="~/Icons/Menu/report.png" alt="Report" />
                Reportes
            </a>
            <ul class="submenu">
                <li><a asp-page="/Reporte/Index">Reportes</a></li>
            </ul>
        </li>
        <li class="menu-item">
            <a href="#" onclick="toggleSubmenu(event)">
                <img src="~/Icons/Menu/storage.png" alt="Storage" />
                Respado y recuperación
            </a>
            <ul class="submenu">
                <li><a href="#">Ejemplo</a></li>
                <li><a href="#">Ejemplo</a></li>
            </ul>
        </li>
    </ul>
</div>
