@page "{idPrestamo?}"
@model BibliotecaRinconDelLibro.Pages.Returns.CrearDesdePrestamoModel
@{
    ViewData["Title"] = "Crear devolución desde préstamo";
}

<h1>Crear devolución desde préstamo</h1>

<form method="post">
    <div class="form-group">
        <label asp-for="IdPrestamo"></label>
        <input asp-for="IdPrestamo" class="form-control" type="number" required />
        <span asp-validation-for="IdPrestamo" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Registrar devolución</button>
</form>

<p><strong>ID ingresado:</strong> @Model.IdPrestamo</p>

<partial name="_ValidationScriptsPartial" />

<a asp-page="./Index" class="btn btn-secondary mt-3">Volver al listado de devoluciones</a>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        window.onload = function () {
            var mensaje = '@TempData["Mensaje"]';
            if (mensaje) {
                Swal.fire({
                    title: 'Aviso',
                    text: mensaje,
                    //icon: 'success', //Esto muestra el icono
                    confirmButtonColor: '#6F8249',
                    confirmButtonText: 'Aceptar'
                });
            }
        };
    </script>
}