/* Cargar fuente de Google Fonts (solo si la usas en _Layout.cshtml o por link externo) */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}


body {
    margin-bottom: 60px;
    font-family: 'Playfair Display', serif;
    background-color: #FAFAF8;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #E5E0CF;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: hidden;
}

th {
    background-color: #343a40;
    color: black;
    text-align: left;
    padding: 12px;
}

td {
    padding: 12px;
    border-bottom: 1px solid #dee2e6;
}

tr:hover {
    background-color: #f1f1f1;
}

a {
    color: #765E49;
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }

.boton-personalizado {
    background-color: #765E49; /* Cambia este valor por el color que desees */
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

    .boton-personalizado:hover {
        background-color: #D2B48C; /* Color al pasar el mouse */
    }

@media print {
    body * {
        visibility: hidden;
    }

    .printable-area, .printable-area * {
        visibility: visible;
    }

    .printable-area {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }
}
    